################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SimuladorDeFAT/.vs/SimuladorDeFAT/v16
/SimuladorDeFAT/Debug
/SimuladorDeFAT/SimuladorDeFAT.sln
/SimuladorDeFAT/SimuladorDeFAT.vcxproj
/SimuladorDeFAT/SimuladorDeFAT.vcxproj.filters
/SimuladorDeFAT/SimuladorDeFAT.vcxproj.user
/SimuladorDeFAT/SimuladorDeFAT.tlog
/SimuladorDeFAT/fat.part
/SimuladorDeFAT/shell.obj
/SimuladorDeFAT/SimuladorDeFAT.exe
/SimuladorDeFAT/SimuladorDeFAT.exe.recipe
/SimuladorDeFAT/SimuladorDeFAT.log
/SimuladorDeFAT/SimuladorDeFAT.obj
/SimuladorDeFAT/SimuladorDeFAT.pdb
/SimuladorDeFAT/SimuladorDeFAT.vcxproj.FileListAbsolute.txt
/SimuladorDeFAT/vc142.idb
/SimuladorDeFAT/vc142.pdb
/SimuladorDeFAT/.vscode
